In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv(r"D:\PYTON PROGRAMMING\PYTHON FILES\NUMPY\COVID 19 DATA ANALYSIS\Country wise data analysis\country_wise_latest.csv")

In [2]:
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

## ðŸ”¢ BASIC STATS

1. What is the total number of confirmed cases worldwide?

In [4]:
total_case = df['Confirmed'].sum()
print(f" The total worldwide confirmed cases were : {total_case}")

 The total worldwide confirmed cases were : 16480485

2. What is the total number of deaths globally?

In [7]:
total_deaths = df['Deaths'].sum()
print(f"The total numbers of deaths around the world is : {total_deaths}")

The total numbers of deaths around the world is : 654036

3. What is the average number of new cases per country?

In [ ]:
df.groupby('Country/Region')['New cases'].mean()

4. What is the median number of recovered cases?

In [12]:
recoverd_cases_avg = df['Recovered'].mean()
print(f"The median number of recovered cases is : {recoverd_cases_avg:.2f}")

The median number of recovered cases is : 50631.48

5. Which country has the highest number of active cases?

In [21]:
country_max_active_case = df.groupby('Country/Region')['Active'].sum().idxmax()
print(f"Country with maximum active cases was : {country_max_active_case}")

Country with maximum active cases was : US

6. How many countries have more than 10,000 confirmed cases?

In [19]:
countries_above_10k_cases = df.groupby('Country/Region')['Confirmed'].sum().loc[lambda x: x > 10000].index.tolist()
print(f"Countries with active cases above 10k : {countries_above_10k_cases}")

Countries with active cases above 10k : ['Afghanistan', 'Algeria', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Bolivia', 'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cameroon', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', "Cote d'Ivoire", 'Czechia', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Ethiopia', 'France', 'Germany', 'Ghana', 'Guatemala', 'Honduras', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Mexico', 'Moldova', 'Morocco', 'Nepal', 'Netherlands', 'Nigeria', 'North Macedonia', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Saudi Arabia', 'Serbia', 'Singapore', 'South Africa', 'South Korea', 'Spain', 'Sudan', 'Sweden', 'Switzerland', 'Turkey', 'US', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uzbekistan', 'Venezuela', 'West Bank and Gaza']

7. What is the country with the lowest death count (excluding 0)?

In [35]:
lowest_death_country = df.groupby('Country/Region')['Deaths'].sum().idxmin()
print(f"Country with lowest deadth is : {lowest_death_country}")

Country with lowest deadth is : Bhutan

8. Which country has the highest recovery rate (Recovered / 100 Cases)?

In [42]:
df['Recovery_Rate'] = (df['Recovered'] / df['Confirmed']) * 100

# Find the country with the highest recovery rate
max_recovery_country = df.loc[df['Recovery_Rate'].idxmax(), 'Country/Region']
max_recovery_rate = df['Recovery_Rate'].max()

print(f"Country with the highest recovery rate: {max_recovery_country} ({max_recovery_rate:.2f}%)")
df.drop('Recovery_Rate',axis=1,inplace=True)

Country with the highest recovery rate: Dominica (100.00%)

9. Which country has the highest death rate (Deaths / 100 Cases)?

In [50]:
df['death_rate'] = (df['Deaths'] / df['Confirmed']) * 100
max_death_country = df.loc[df['death_rate'].idxmax(), 'Country/Region']
max_death_rate = df['death_rate'].max().round(2)
print(f"The country with maximum death rate is {max_death_country} with a percentage death of {max_death_rate}%")

The country with maximum death rate is Yemen with a percentage death of 28.56%

10. What is the standard deviation of active cases?

In [ ]:
active_case_arr = df['Active'].to_numpy()
mean_arr = active_case_arr.mean().round(2)
variance = (((active_case_arr - mean_arr) ** 2).sum()) / len(active_case_arr)
standard_deviation = np.sqrt(variance).round(2)
print(f"The Standard deviation of active cases data is : {standard_deviation}")

The Standard deviation of active cases data is : 212755.02

## ðŸ” FILTERING & CONDITION LOGIC

11. List countries where recovery rate is above 80%.

In [ ]:
df['Recovery Rate'] = (( df['Recovered'] / df['Confirmed']) * 100).round(2)
countries_above_80 = df[(df['Recovery Rate'] > 80)] 
countries_above_80

12. List countries where new deaths are greater than 100.

In [ ]:
new_deaths_100 = df[(df['New deaths'] > 100)]
new_deaths_100

13. Filter countries from the WHO Region "Europe".

In [ ]:
europe_region = df[(df['WHO Region'] == 'Europe')]
europe_region

14. Find countries with more than 500 new cases and less than 150 deaths.

In [ ]:
countries = df[(df['New cases'] > 500) & (df['Deaths'] < 150)]
countries

15. List countries where Confirmed last week was greater than Confirmed.

In [ ]:
conuntries_more_last_week_case = df[(df['Confirmed last week'] > df['Confirmed'])]
conuntries_more_last_week_case

## ðŸ“Š GROUPBY & AGGREGATIONS

16. How many countries are in each WHO Region?

In [22]:
countries_in_each_region = df.groupby('WHO Region')['Country/Region'].size()
countries_in_each_region

WHO Region
Africa                   48
Americas                 35
Eastern Mediterranean    22
Europe                   56
South-East Asia          10
Western Pacific          16
Name: Country/Region, dtype: int64

17. What is the average death rate per WHO Region?

In [ ]:
df['death_rate'] = ((df['Deaths'] / df['Confirmed']) * 100).round(2)
countries_death_rate_in_each_region = df.groupby('WHO Region')['death_rate'].mean().round(2)
countries_death_rate_in_each_region
df.drop('death_rate' , axis=1)

18. What is the total number of new cases per WHO Region?

In [33]:
new_cases_each_region = df.groupby('WHO Region')['New cases'].sum()
new_cases_each_region

WHO Region
Africa                    12176
Americas                 129531
Eastern Mediterranean     12410
Europe                    22294
South-East Asia           48993
Western Pacific            3289
Name: New cases, dtype: int64

19. Which WHO Region has the most active cases overall?

In [34]:
region_case_most = df.groupby('WHO Region')['Active'].sum()
region_case_most

WHO Region
Africa                    270339
Americas                 4027938
Eastern Mediterranean     251005
Europe                   1094656
South-East Asia           637015
Western Pacific            77409
Name: Active, dtype: int64

20. Calculate the mean recovery rate grouped by WHO Region.

In [36]:
df['recovery_rate'] = df.apply(
    lambda row: (row['Recovered'] / row['Confirmed']) * 100 if row['Confirmed'] > 0 else 0,
    axis=1
)
mean_recoevry_each_region = df.groupby('WHO Region')['recovery_rate'].mean().round()
mean_recoevry_each_region

WHO Region
Africa                   57.0
Americas                 62.0
Eastern Mediterranean    67.0
Europe                   69.0
South-East Asia          67.0
Western Pacific          77.0
Name: recovery_rate, dtype: float64

## ðŸ“ˆ PERCENTAGE / RATIO ANALYSIS

21. What percent of confirmed cases globally resulted in death?

In [ ]:
total_case = df['Confirmed'].sum()
total_death = df['Deaths'].sum()
percentage_death = ((total_death / total_case)*100).round(2)
print(f"Total percentage of death cases around the world is {percentage_death} %")

Total percentage of death cases around the world is 3.97%

22. What percent of confirmed cases globally have recovered?

In [43]:
total_case = df['Confirmed'].sum()
recovered_case = df['Recovered'].sum()
percentage_recover = ((recovered_case / total_case)*100).round(2)
print(f"The percentage recovered around the world is : {percentage_recover} %")

The percentage recovered around the world is : 57.45 %

23. Which country has the highest deaths per recovered ratio?

In [50]:
ratio_data = df[['Country/Region', 'Deaths / 100 Recovered']].copy()


finite_ratios = ratio_data.replace([np.inf, -np.inf], np.nan).dropna()

if not finite_ratios.empty:
    max_row = finite_ratios.loc[finite_ratios['Deaths / 100 Recovered'].idxmax()]
    country = max_row['Country/Region']
    ratio = max_row['Deaths / 100 Recovered']
    print(f"Country with highest finite ratio: {country} ({ratio:.2f})")
else:
    print("All ratios are infinite - check data quality")

Country with highest finite ratio: Netherlands (3259.26)

24. Which WHO Region has the lowest Deaths / 100 Cases?

In [54]:
df.groupby('WHO Region')['Deaths / 100 Cases'].sum().idxmin()

'South-East Asia'

25. Find countries with more than 5% weekly increase.

In [64]:
df[(df['1 week % increase'] > 5)]['Country/Region']

1                  Albania
2                  Algeria
4                   Angola
5      Antigua and Barbuda
6                Argentina
              ...
180              Venezuela
181                Vietnam
182     West Bank and Gaza
185                 Zambia
186               Zimbabwe
Name: Country/Region, Length: 112, dtype: object

## ðŸ§® NUMPY OPERATIONS

26. Use NumPy to find correlation between Confirmed and Deaths.

In [5]:
confirmed_arr = np.array(df['Confirmed'])
deaths_arr = np.array(df['Deaths'])

correlation = np.corrcoef(confirmed_arr, deaths_arr)[0,1]
print(f"Pearson correlation: {correlation:.3f}")

Pearson correlation: 0.935

### Pearson Correlation Coefficient (Linear Correlation)
The formula for Pearson's r is:
>>         cov(X,Y)
> r = â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
>>        (Ïƒ_X * Ïƒ_Y)

27. Calculate the z-score of New cases column.

In [ ]:
avg = df['New cases'].mean()
sd = df['New cases'].std(ddof=0)  # Population standard deviation

# Calculate z-scores
df['Zee-Score-New-Case'] = ((df['New cases'] - avg) / sd).round(2)
df

28. Identify outliers in Active cases using NumPy (e.g., above 3 std dev).

In [ ]:
active_arr = np.array(df['Active'])
sd_active_arr = np.sqrt(((active_arr - active_arr.mean())**2) / len(active_arr))
z_score_active_arr = ( active_arr - active_arr.mean() ) / sd_active_arr
df['z_score_active_arr'] = z_score_active_arr   # makes a new column of zee score values for active column.
result_28 = df[ df['z_score_active_arr'] > 3 ]      # Filters the data accordingly
result_28

29. Use NumPy to normalize Confirmed column.

In [ ]:
normalized_confirmed = (df['Confirmed'] - df['Confirmed'].min())  /  (df['Confirmed'].max() - df['Confirmed'].min())
normalized_confirmed

30. Find the country closest to the mean of New deaths.

In [13]:
mean_new_deaths = df['New deaths'].mean()
result_idx = (( df['New deaths'] - mean_new_deaths ).abs()).idxmin()
country_30 = df['Country/Region'].loc[result_idx]
print(f"Country with New deaths value closest to the mean new deaths is {country_30}")

Country with New deaths value closest to the mean new deaths is Panama

## ðŸ“… WEEKLY CHANGE ANALYSIS

31. Which country had the highest weekly increase (1 week change)?

In [14]:
df['Country/Region'].loc[df['1 week change'].idxmax()]

'US'

32. What is the average 1-week % increase across all countries?

In [16]:
df['1 week % increase'].mean().round(2)

np.float64(13.61)

33. Which WHO Region has the highest average weekly case growth?

In [17]:
df.groupby('WHO Region')['1 week % increase'].mean().idxmax()

'Western Pacific'

34. List countries where 1 week % increase is negative.

In [20]:
index = df[df['1 week % increase'] < 0]
index['Country/Region']

88    Jordan
Name: Country/Region, dtype: object

35. How many countries saw more than 1000 new cases in the last week?

In [23]:
result_35 = df[df['Confirmed last week'] > 1000].shape[0]
print(f"Number of countries with last week cases over 1000 is {result_35}")

Number of countries with last week cases over 1000 is 142

## ðŸ“Œ ADVANCED FILTERING & RANKING

36. Top 10 countries by number of recovered patients.

In [ ]:
df.sort_values(by='Recovered',ascending=False).head(10)

37. Bottom 5 countries by active cases.

In [ ]:
df.sort_values(by='Active',ascending=False).tail(5)

38. Rank countries by Deaths / 100 Recovered.

In [ ]:
df.sort_values(by='Deaths / 100 Recovered',ascending=False).reset_index(names='Previous-Index',inplace=False)

39. Find countries where new recovered > new cases.

In [ ]:
result_39 = df[df['New recovered'] > df['New cases']]
result_39['Country/Region']

40. Find countries where confirmed cases > 3 times recovered.

In [ ]:
result_40 = df[df['Confirmed'] > 3*df['Recovered']]
result_40['Country/Region']

## ðŸ“š MISC/COMBINED LOGIC

41. Find all African countries with more than 5% death rate.

In [ ]:
african_region = df[df['WHO Region'] == 'Africa']
african_region['death_rate'] = ((df['Deaths'] / df['Confirmed'])*100).round(2)
result_40 = african_region[african_region['death_rate'] > 5]
result_40

42. Compare average active cases in Asia vs Europe.

In [61]:
europe = df[df['WHO Region'] == 'Europe']
eur_mean = europe['Active'].mean()

asia = df[df['WHO Region'] == 'South-East Asia']
asia_mean = asia['Active'].mean()

print(f"The average active cases of South Easte Asia is {asia_mean:.2f} & that of Europe is {eur_mean:.2f}")

The average active cases of South Easte Asia is 63701.50 & that of Europe is 19547.43

43. List countries with zero new cases but active cases > 1000.

44. What is the difference between confirmed and recovered in each country?

45. How many countries have all of: >10,000 confirmed, <1,000 deaths, >70% recovery rate?

## ðŸ“‰ VISUALIZATION PREP

In [2]:
import matplotlib.pyplot as plt

46. Prepare a DataFrame showing top 10 countries by 1 week % increase.

In [ ]:
top_countries = df[['Country/Region', '1 week % increase']].sort_values(by='1 week % increase', ascending=False)

Country = top_countries['Country/Region'].head(10).to_list()
week_increase = top_countries['1 week % increase'].head(10).to_list()

plt.figure(figsize=(10, 6))

bars = plt.bar(
    Country, week_increase,
    width=0.5,
    color='r',
    label='Last Week % Increase'
)

for bar in bars:
    height = bar.get_height()
    plt.text(
        bar.get_x() + bar.get_width() / 2,  # X position (center of bar)
        height + 2,                          # Y position (slightly above bar)
        f'{height:.2f}',                     # Text to display (formatted to 2 decimal places)
        ha='center',                         # Horizontal alignment
        va='bottom',                         # Vertical alignment
        fontsize=8
    )

plt.xlabel("Country",fontsize=15)
plt.ylabel("1 Week % Increase", fontsize=11)

plt.xticks(Country, rotation=90, fontsize=9)

plt.legend(fontsize=8)
plt.grid(True,alpha=0.5)
plt.show()

47. Create a new column "Case Fatality Ratio" = Deaths / Confirmed & plot a horizontal bar chart of top 10 countries with highest fatality ratios.

In [ ]:
df['Case Fatality Ratio'] = (df['Deaths'] / df['Confirmed'])

x = df['Country/Region'].head(10).to_list()
y = df['Case Fatality Ratio'].head(10).to_list()

plt.figure(figsize=(10, 6))

bars = plt.bar(x,y,
    width = 0.5,
    color = 'r',
    label = "Case Fatality Ratio"
)
for bar in bars :
    height = bar.get_height()
    plt.text(
       bar.get_x() +  bar.get_width() / 2 , 
       height + 0.0007,
       f"{height:.2f}",
       va = 'bottom',
       ha = 'center',
       fontsize = 8
    )
plt.xlabel ('Country/Region', fontsize = 14, labelpad=25, ha='center', va='bottom')
plt.ylabel ('Case Fatality Ratio', fontsize = 14, labelpad=20, ha='center', va='bottom')
plt.title("Case Fatality Ratio Per Country", ha='center', va='bottom')
plt.legend()

plt.xticks(x, rotation = 90)

plt.show()

48. Create a new column "Recovery Ratio" = Recovered / Confirmed & use a seaborn boxplot to visualize the distribution of recovery ratios.

49. Create a new column showing difference between confirmed this week vs last week & plot a line chart of the top 5 countries with biggest changes.

50. Plot bar graph of active cases by top 10 WHO Region countries & for each WHO region, show the country with the highest active cases using grouped bar charts.

In [56]:
df.head(15)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,z_score_active_arr
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,-13.674794
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe,-13.674794
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa,-13.674794
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe,-13.674794
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa,-13.674794
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas,-13.674794
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas,13.674794
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe,-13.674794
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific,-13.674794
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe,-13.674794
10,Azerbaijan,30446,423,23242,6781,396,6,558,1.39,76.34,1.82,27890,2556,9.16,Europe,-13.674794
11,Bahamas,382,11,91,280,40,0,0,2.88,23.82,12.09,174,208,119.54,Americas,-13.674794
12,Bahrain,39482,141,36110,3231,351,1,421,0.36,91.46,0.39,36936,2546,6.89,Eastern Mediterranean,-13.674794
13,Bangladesh,226225,2965,125683,97577,2772,37,1801,1.31,55.56,2.36,207453,18772,9.05,South-East Asia,13.674794
14,Barbados,110,7,94,9,0,0,0,6.36,85.45,7.45,106,4,3.77,Americas,-13.674794